@use "sass:color";
@use 'variables' as *;

.button-item {
  text-transform: uppercase;
  list-style-type: none;
  margin: 0 3px 0 0 !important;
  padding: 5px 12px !important;
  cursor: pointer;
}

.button-item-submit {
  background-color: $froggy-green;
  border: 1px solid $froggy-green;
  color: var(--bs-white);
}

.capitalize {
  text-transform: capitalize;
}

.clickable {
  cursor: pointer;
}

.command-bar {
  padding: 0 10px;
  width: 100%;
}

.form-check-input {
  margin-top: 0;
}

.green {
  color: var(--bs-green);
}

.label-text {
  font-size: .9rem;
  font-weight: bold;
}

.modal-link {
  cursor: pointer;
  text-decoration: underline;
}

.no-records {
  font-weight: bold;
  font-size: 12px;
}

.red {
  color: var(--bs-red);
}

.record-count {
  color: $lilypad-teal;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}

.spinner {
  padding-left: 50%;
}

.text-center {
  text-align: center;
}

.blue-icon {
  color: $lilypad-teal;
}

.red-icon {
  color: #E85A5A;
}

.publisher-icon {
  display: inline-block;
  height: 20px;
  margin-right: 5px;
  width: 20px;
}

.publisher-logo {
  display: inline-block;
  max-height: 200px;
  width: auto;
}

.publisher-logo-small {
  display: inline-block;
  max-height: 100px;
  width: auto;
}

.no-logo {
  color: var(--bs-red);
  height: 200px;
  width: auto;
}

.no-logo-small {
  color: var(--bs-red);
  height: 100px;
  width: auto;
}
